/*
 * The MIT License
 *
 * Copyright 2014 WebCovoiturage.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

@font-face{ font-family: 'Indians Lives';	src: url('Polices/Indians Lives.ttf');}

@font-face { font-family: 'Comic Book'; 	src: url('Polices/comicbook.ttf'); }

@font-face { font-family: 'AMA'; 	        src: url('Polices/ama.ttf'); }
@font-face { font-family: 'Stream'; 	     src: url('Polices/stream.ttf'); }
@font-face {font-family : 'Calibri Light';  src: url('Polices/calibri light.ttf');}
@font-face {font-family: 'Calibri2';  src:url('Polices/calibri.ttf');}


h2
{

	color: green;
	font-family : Comic Book;
	position : absolute;
	left : 20%;
	top: 43%;

}

a
{

	text-decoration: none;
}
p
{

	font-family: Calibri,Calibri2;
}

#title_account
{
	position: absolute;
	left: 32%;
	top:53%;
	text-transform: uppercase;
	font-size: 115%;
	font-family: Calibri,Calibri2;
	color: #00CC00;
	background-color: #E0E0E0 ;
	padding-left:2% ;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:5%; 
}

#section_data
{
	position: absolute;
	top: 66%;
	left:30%;
	right: 2%;
	height: 60%;

}

#section_realdata
{

	position: absolute;
	top:65.8%;
	left: 50%;
	right: 2%;
	height: 60%;
}

#section_realdata  p
{

	background-color: #99FF66;
	margin-right: 75%;
	padding-left:2% ;
	padding-right:5%; 

}

#account_change
{

	position: absolute;
	top: 110%;
	left:32%;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 115%;
	font-family: Calibri,Calibri2;
	color: white;
	background-color: #00E34F ;
	padding-left:2% ;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:3%; 

}

#account_change:hover
{
	color:#00E34F;
	background-color: white;
	border :5px #00E34F solid;


}

#account_change:active
{
	color: #009900;
	border : 5px #00E34F groove;

}

