/*
The MIT License

Copyright 2014 Vincent Quatrevieux <quatrevieux.vincent@gmail.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : 17 nov. 2014, 17:33:42
    Author     : Vincent Quatrevieux <quatrevieux.vincent@gmail.com>
*/

@font-face { font-family: 'Comic Book'; 	src: url('../polices/Comic_Book.ttf'); }
@font-face{font-family: 'Airstream'; src: url('../polices/stream.ttf');}

*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: "DejaVu Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 85px;
}

header{
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px;
}

#contents{
    width: 90%;
    margin: auto;
}

img{
    border: none;
    outline: none;
}

header ul{
    list-style-type: none;
}

header li{
    float: right;
}

@media(max-width: 340px){
    header li{
        float: none;
    }
    
    header ul a{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

input[type="submit"], .button, button, input[type="button"]{
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #21760F;
    text-align: center;
    margin: 5px;
    color: #FFF;
    font-size: 16px;
    box-sizing: border-box;
    vertical-align: middle;
    border: none;
    font-family: "DejaVu Sans", sans-serif;
    font-weight: bold;
    padding: 0;
}

button:active, input[type="button"]:active, input[type="submit"]:active, .button:hover{
    background: #FFF;
    color: #21760F;
    border: 7px solid #21760F;
    line-height: 26px;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Comic Book";
    color: #21760F;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
}

input, select, textarea{
    box-sizing: content-box;
    border: 1px solid #9B9;
    padding: 2px;
    height: 20px;
    background: transparent;
}

input:focus, select:focus, textarea:focus{
    border: 1px solid #7A7;
    box-shadow: 0 0 2px #BBB inset;
}

/*
    Popup message system
*/

#messages{
    position: absolute;
    top: 30px;
    width: 100%;
    left: 0;
}

#messages > .error{
    padding: 2px;
    background: #ff9f9f;
    color: darkred;
    border: 1px solid darkred;
    width: 500px;
    margin: auto;
    margin-top: 5px;
    position: relative;
}

#messages a.close{
    position: absolute;
    top: 2px;
    right: 2px;
}

@media(max-width: 600px){
    #messages > .error{
        width: 90%;
    }
}

footer{
    position: absolute;
    bottom: 0;
    height: 80px;
    background: #F8F8F8;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #EEE;
    overflow: hidden;
}

footer a{
    text-decoration: none;
    color: #000;
}

footer h3{
    font-size: 14px;
    color: #666;
}

footer a:hover{
    text-decoration: underline;
}

footer ul{
    list-style-type: none;
}

#loc_value{
    color: #888;
}

footer .col{
    float: left;
    padding: 5px 10px;
}

/*
    auto completion / active list
*/

#autocomplete_list{
    border: 1px solid #BBB;
    background: #fff;
    list-style-type: none;
    border-top: none;
}

#autocomplete_list li{
    padding: 2px;
}

#autocomplete_list li.focus{
    background: #21760F;
    color: #FFF;
}

/*
    Form validation
*/

label.invalid{
    color: darkred;
}

label.valid{
    color: darkgreen;
}