/*
 * The MIT License
 *
 * Copyright 2014 WebCovoiturage.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

#search{
    margin: auto;
    text-align: center;
}

#search input[type="text"]{
    width: 350px;
}

#search .row{
    display: inline-block;
    margin: 5px 0;
}

@media(max-width: 950px){
    #search .row{
        display: table;
        width: 100%;
    }
    
    #search input[type="text"]{
        display: table-cell !important;
        width: 100% !important;
    }
    
    #search label{
        display: table-cell !important;
        width: 50px;
    }
    
    #search{
        text-align: left;
    }
}

#search label{
    display: inline-block;
    width: 50px;
    font-family: sans-serif;
}

#search input[type="submit"]{
    margin: auto;
    margin-top: 10px;
}