#profile input[type="text"], #profile input[type="password"], #profile input[type="email"], select{
    width: 100%;
}

#profile input[type="submit"]{
    margin: auto;
    margin-top: 15px;
}

#reg_info{
    margin-top: 15px;
    text-align: center;
}

@media(min-width: 500px){
    #profile table{
        width: 400px;
        margin: auto;
    }
}

@media(max-width: 500px){
    #profile table{
        width: 100%;
    }
}

#profile .required:before{
    content: "* ";
    color: red;
}

#profile label.error{
    color: darkred;
}

#profile label.success{
    color: darkgreen;
}