/*
 * The MIT License
 *
 * Copyright 2014 WebCovoiturage.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

@font-face{ font-family: 'Indians Lives';	src: url('Polices/Indians Lives.ttf');}

@font-face { font-family: 'Comic Book'; 	src: url('Polices/comicbook.ttf'); }

@font-face { font-family: 'AMA'; 	        src: url('Polices/ama.ttf'); }
@font-face { font-family: 'Stream'; 	     src: url('Polices/stream.ttf'); }
@font-face {font-family : 'Calibri Light';  src: url('Polices/calibri light.ttf');}

h2
{

	color: green;
	font-family : Comic Book;
	position : absolute;
	left : 20%;
	top: 43%;

}
a
{

	text-decoration: none;
}





#title_resultat
{
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color:  #00E34F;
	background-color : #FFFFFF;
	padding-right:5%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:60%;
	top:50%;
	box-shadow: 5px 5px 10px #00E34F;

}


#result
{
	position: absolute;
	left:19%;
	right:20%;
	top:55%;
	margin-right:10%;
	margin-top:5%;
	font-family: Calibri,Calibri2;
	color: black;
	box-shadow: 2px 2px 5px #FF0000;
	//padding-top:1%;
	padding-bottom:1%;
	
	padding-left:1%;

}

#result2
{
	position: absolute;
	left:19%;
	right:20%;
	top:55%;
	margin-right:10%;
	margin-top:23%;
	font-family: Calibri,Calibri2;
	color: black;
	box-shadow: 2px 2px 5px #FF0000;
	//padding-top:1%;
	padding-bottom:1%;
	
	padding-left:1%;
}

#result:hover,#result2:hover
{
	box-shadow: 5px 5px 3px #FF0000;
}


#driver_name
{
	box-shadow: 1px 1px 1px #FF0000;
	padding-right:2%;
	
}
#city
{

}
#cities
{
	position : absolute;
	
	left: 20%;
	top:17%;
	background-color: #CCFF99;
	padding-right:38%;
	padding-left:3%;
	padding-top:1%;
	padding-bottom:1%;



}
#start
{
	position:relative;
	margin-top: 5%;
}
#city_start
{
	position : absolute;
	
	left: 20%;
	top:39%;
	background-color: #CCFF99;
	padding-right:50%;
	padding-left:3%;
	padding-top:1%;
	padding-bottom:1%;
	

}
#arrival
{
	position:relative;
	margin-top: 5%;

}

#city_arrival
{
	position : absolute;
	
	left: 20%;
	top:65%;
	background-color: #CCFF99;
	padding-right:43.5%;
	padding-left:3%;
	padding-top:1%;
	padding-bottom:1%;

}





