/*
 * The MIT License
 *
 * Copyright 2014 WebCovoiturage.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

#search{
    width: 100%;
    border-bottom: 1px solid #B0B0B0;
}

#search form{
    display: table;
    width: 100%;
}

#search label{
    width: 50px;
    line-height: 26px;
}

#search input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

#search .table{
    display: table;
    width: 100%;
}

#search .table > *{
    display: table-cell !important;
    height: 26px;
    vertical-align: middle;
}

#search input[type="submit"]{
    height: 26px;
    width: 26px;
    line-height: 26px;
    background-image: url(../images/search.svg);
    background-size: contain;
    margin: 0;
    display: inline-block;
    border-radius: 0 3px 3px 0;
}

#search input[type="submit"]:active{
    border: none;
    background-color: #7A7;
}

#search .row{
    padding: 5px;
}

@media(min-width: 900px){
    #search .row{
        display: table-cell;
        padding: 5px;
    }
}

#results
{
    margin-top: 10px;
    width: 100%;
}

#results aside{
    float: right;
}

.result .infos{
    display: inline-block;
    float: left;
}

#results .result{
    overflow: auto;
    height: 160px;
    max-width: 600px;
    width: 100%;
    margin: 10px 0;
    padding: 0 5px;
    border-bottom: 1px solid #EEE;
}

#results .result h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #21760F;
    font-size: 18px;
}

#results .result h2 a{
    color: #21760F;
    font-size: 18px;
}

#results .result h2 a:hover{
    text-decoration: underline;
}

@media(max-width: 500px){
    #results .result aside{
        display: none;
    }
}

.info .what{
    font-weight: bold;
}

.info .what:after{
    content: " : ";
}