@font-face{ font-family: 'Indians Lives';	src: url('Polices/Indians Lives.ttf');}
@font-face { font-family: 'Comic Book'; 	src: url('Polices/comicbook.ttf'); }
@font-face { font-family: 'AMA'; 	        src: url('Polices/ama.ttf'); }
@font-face { font-family: 'Stream'; 	     src: url('Polices/stream.ttf'); }
@font-face {font-family : 'Calibri Light';  src: url('Polices/calibri light.ttf');}

body
{
	background-color: #E0E0E0 ;
	//background-image:linear-gradient(#B8B8B8 , #F8F8F8 );
}

#error

{
	font-family: Calibri Light;
	margin-left: 20%;
	margin-top: 0%;

}

ul
{
	font-size: 120%;


}


#back
{
	font-family : Calibri,Calibri2;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	left:24%;
	top:70%;
	margin-top: 8%;
	box-shadow: 2px 1px 10px #006600;
	
	
}


#back:hover
{
	color : #00E34F;
	background-color: white;
	border :3px #00E34F solid;
}

#back:active
{
	color: #009900;
	border : 5px #00E34F groove;
}