

@font-face{ font-family: 'Indians Lives';	src: url('Polices/Indians Lives.ttf');}

@font-face { font-family: 'Comic Book'; 	src: url('Polices/comicbook.ttf'); }

@font-face { font-family: 'AMA'; 	        src: url('Polices/ama.ttf'); }
@font-face { font-family: 'Stream'; 	     src: url('Polices/stream.ttf'); }
@font-face {font-family : 'Calibri Light';  src: url('Polices/calibri light.ttf');}
@font-face { font-family: 'Calibri2';  src:url('Polices/calibri.ttf');}


h2
{

	color: green;
	font-family : Comic Book;
	position : absolute;
	left : 20%;
	top: 45%;
	

}
a
{

	text-decoration: none;
}

h3
{
	color: green;
	font-family : Calibri,Calibri2;
	position : absolute;
	left : 39%;
	top: 55%;
	

}

#Logo
{
	box-shadow: 3px 3px 3px grey;
	position: absolute;
	top: 4.5%;
	left: 16%;
	width: 36%;
	height: auto;
}



#register
{
	
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:15%;
	top:7%;
	
}

#register:hover
{
	color : #00E34F;
	background-color: white;
	border :5px #00E34F solid;
}

#register:active
{
	color: #009900;
	border : 5px #00E34F groove;
}


#connect
{
	
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right:1%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:15%;
	top: 19%;
	
}

#connect:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;
}

#connect:active
{
	color: #009900;
	border : 5px #00E34F groove;
}

#account
{
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right:1%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-left:1.25%;
	position: absolute;
	right:15%;
	top: 31%;
	
}
#account:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;
}
#account:active
{
	color: #009900;
	border : 5px #00E34F groove;
}

#form
{
	font-family: Calibri,Calibri2;
	top: 40%;
	left:36%;
	margin-top: 30%;
	margin-left: 30%;
	
}

.input
{
	border: 2px #00E34F outset;
	padding-right: 9%;
	padding-top: 1%;
}

#validate
{
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right: 23%;
	top: 180%;
	font-weight: bold;

}

#validate:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;
}

#validate:active
{
	color: #009900;
	border : 5px #00E34F groove;
}

#star
{
	font-family: Calibri Light;
	margin-left: 37%;
	margin-top: 1.5%;


}


#footer1_1
{
	text-transform: uppercase;
	position : absolute;
	left: 37%;
	top: 153%;
	font-family : Calibri,Calibri2;
	color: white;
	background-color : #00E34F;
	text-decoration:none;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-right: 1%;
	padding-left: 1%;
	
	margin-top : 20%;
}

#footer1_1:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;

}

#footer1_1:active
{
	color: #009900;
	border : 5px #00E34F groove;


}



#footer1_2
{
	text-transform: uppercase;
	position : absolute;
	left: 25%;
	top: 152%;
	font-family : Calibri,Calibri2;
	color: white;
	background-color : #00E34F;
	text-decoration: none;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-right: 0.8%;
	padding-left: 1%;
	
	margin-top: 20.45%;
}

#footer1_2:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;

}

#footer1_2:active
{
	color: #009900;
	border : 5px #00E34F groove;


}
#Facebook
{
	position: absolute;
	top: 162.5%;
	right: 44%;
	margin-top:15.5%;
}


#Google_Plus
{
	position: absolute;
	top: 162.5%;
	right:37%;
	margin-top:15.5%;

}


#Twitter
{
	position: absolute;
	top: 162.5%;
	right: 30%;
	margin-top:15.5%;

}


#footer2_1
{

	font-family: Calibri Light;
	position: absolute;
	right: 45%;
	margin-top: 35%;
	
	top: 140%;
	

}


#footer2_2
{

	font-family: Calibri Light;
	position: absolute;
	right: 25%;
	margin-top: 33%;
	
	top: 140%;
	


}

