@font-face{ font-family: 'Indians Lives';	src: url('Polices/Indians Lives.ttf');}

@font-face { font-family: 'Comic Book'; 	src: url('Polices/comicbook.ttf'); }

@font-face { font-family: 'AMA'; 	        src: url('Polices/ama.ttf'); }
@font-face { font-family: 'Stream'; 	     src: url('Polices/stream.ttf'); }
@font-face {font-family : 'Calibri Light';  src: url('Polices/calibri light.ttf');}
@font-face { font-family: 'Calibri2';  src:url('Polices/calibri.ttf');}



body
{

}


h2
{

	color: green;
	font-family : Comic Book;
	position : absolute;
	left : 20%;
	top: 43%;

}

#Logo
{
box-shadow: 3px 3px 3px grey;
	position: absolute;
	top: 4.5%;
	left: 16%;
	width: 36%;
	height: auto;
	
}


#register
{
	
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:15%;
	top:7%;
	
}

#register:hover
{
	color : #00E34F;
	background-color: white;
	border :5px #00E34F solid;
}

#register:active
{
	color: #009900;
	border : 5px #00E34F groove;
}


#connect
{
	
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right:1%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:15%;
	top: 19%;
	
}

#connect:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;
}

#connect:active
{
	color: #009900;
	border : 5px #00E34F groove;
}

#account
{
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right:1%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-left:1.25%;
	position: absolute;
	right:15%;
	top: 31%;
	
}
#account:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;
}
#account:active
{
	color: #009900;
	border : 5px #00E34F groove;
}


#validated
{
	font-family: Calibri,Calibri2;
	color:  #00CC00;
	margin-top: 25%;
	margin-left: 16%;


}





#footer1_1
{
	
	text-transform: uppercase;
	position : absolute;
	left: 37%;
	top: 105%;
	font-family : Calibri,Calibri2;
	color: white;
	background-color : #00E34F;
	text-decoration:none;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-right: 1%;
	padding-left: 1%;
	
	margin-top : 4.5%
}

#footer1_1:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;

}

#footer1_1:active
{
	color: #009900;
	border : 5px #00E34F groove;


}



#footer1_2
{
	text-transform: uppercase;
	position : absolute;
	left: 25%;
	top: 104%;
	font-family : Calibri,Calibri2;
	color: white;
	background-color : #00E34F;
	text-decoration: none;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-right: 0.8%;
	padding-left: 1%;
	
	margin-top: 5%;
}

#footer1_2:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;

}

#footer1_2:active
{
	color: #009900;
	border : 5px #00E34F groove;


}
#Facebook
{
	position: absolute;
	top: 114.6%;
	right: 44%;
}


#Google_Plus
{
	position: absolute;
	top: 114.6%;
	right:37%;
}


#Twitter
{
	position: absolute;
	top: 114.6%;
	right: 30%;
}


#footer2_1
{

	font-family: Calibri Light;
	position: absolute;
	right: 45%;
	margin-top: 15%;
	
	top: 100%;
	

}


#footer2_2
{

	font-family: Calibri Light;
	position: absolute;
	right: 25%;
	margin-top: 13%;
	
	top: 100%;
	


}
