@font-face{ font-family: 'Indians Lives';	src: url('Polices/Indians Lives.ttf');}

@font-face { font-family: 'Comic Book'; 	src: url('Polices/comicbook.ttf'); }

@font-face { font-family: 'AMA'; 	        src: url('Polices/ama.ttf'); }
@font-face { font-family: 'Stream'; 	     src: url('Polices/stream.ttf'); }
@font-face {font-family : 'Calibri Light';  src: url('Polices/calibri light.ttf');}

h2
{

	color: green;
	font-family : Comic Book;
	position : absolute;
	left : 20%;
	top: 43%;

}
a
{

	text-decoration: none;
}


#Logo
{
box-shadow: 3px 3px 3px grey;
	position: absolute;
	top: 4.5%;
	left: 16%;
	width: 36%;
	height: auto;
	
}


#register
{
	
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:15%;
	top:7%;
	
}

#register:hover
{
	color : #00E34F;
	background-color: white;
	border :5px #00E34F solid;
}

#register:active
{
	color: #009900;
	border : 5px #00E34F groove;
}


#connect
{
	
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right:1%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:15%;
	top: 19%;
	
}

#connect:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;
}

#connect:active
{
	color: #009900;
	border : 5px #00E34F groove;
}
#account
{
	font-family : Calibri,Calibri2 ;
	text-transform: uppercase;
	text-decoration : none;
	color: white ;
	background-color : #00E34F;
	padding-right:1%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-left:1.25%;
	position: absolute;
	right:15%;
	top: 31%;
	
}
#account:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;
}
#account:active
{
	color: #009900;
	border : 5px #00E34F groove;
}


#title_resultat
{
	font-family : Calibri,Calibri2;
	text-transform: uppercase;
	text-decoration : none;
	color:  #00E34F;
	background-color : #FFFFFF;
	padding-right:5%;
	padding-left: 1%;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	position: absolute;
	right:60%;
	top:50%;
	box-shadow: 5px 5px 10px #00E34F;

}


#result
{
	position: absolute;
	left:19%;
	right:20%;
	top:55%;
	margin-right:10%;
	margin-top:5%;
	font-family: Calibri,Calibri2;
	color: black;
	box-shadow: 2px 2px 5px #FF0000;
	//padding-top:1%;
	padding-bottom:1%;
	
	padding-left:1%;

}

#result2
{
	position: absolute;
	left:19%;
	right:20%;
	top:55%;
	margin-right:10%;
	margin-top:23%;
	font-family: Calibri,Calibri2;
	color: black;
	box-shadow: 2px 2px 5px #FF0000;
	//padding-top:1%;
	padding-bottom:1%;
	
	padding-left:1%;
}

#result:hover,#result2:hover
{
	box-shadow: 5px 5px 3px #FF0000;
}


#driver_name
{
	box-shadow: 1px 1px 1px #FF0000;
	padding-right:2%;
	
}
#city
{

}
#cities
{
	position : absolute;
	
	left: 20%;
	top:17%;
	background-color: #CCFF99;
	padding-right:38%;
	padding-left:3%;
	padding-top:1%;
	padding-bottom:1%;



}
#start
{
	position:relative;
	margin-top: 5%;
}
#city_start
{
	position : absolute;
	
	left: 20%;
	top:39%;
	background-color: #CCFF99;
	padding-right:50%;
	padding-left:3%;
	padding-top:1%;
	padding-bottom:1%;
	

}
#arrival
{
	position:relative;
	margin-top: 5%;

}

#city_arrival
{
	position : absolute;
	
	left: 20%;
	top:65%;
	background-color: #CCFF99;
	padding-right:43.5%;
	padding-left:3%;
	padding-top:1%;
	padding-bottom:1%;

}




#footer1_1
{
	
	text-transform: uppercase;
	position : absolute;
	left: 37%;
	top: 145%;
	font-family : Calibri,Calibri2;
	color: white;
	background-color : #00E34F;
	
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-right: 1%;
	padding-left: 1%;
	
	margin-top : 4.5%
}

#footer1_1:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;

}

#footer1_1:active
{
	color: #009900;
	border : 5px #00E34F groove;


}



#footer1_2
{
	text-transform: uppercase;
	position : absolute;
	left: 25%;
	top: 144%;
	font-family : Calibri,Calibri2;
	color: white;
	background-color : #00E34F;
	text-decoration:none;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	padding-right: 0.8%;
	padding-left: 1%;
	
	margin-top: 5%;
}

#footer1_2:hover
{
	color : #00E34F;
	background-color: white;
	border : 5px #00E34F solid;

}

#footer1_2:active
{
	color: #009900;
	border : 5px #00E34F groove;


}
#Facebook
{
	position: absolute;
	top: 154.6%;
	right: 44%;
}


#Google_Plus
{
	position: absolute;
	top: 154.6%;
	right:37%;
}


#Twitter
{
	position: absolute;
	top: 154.6%;
	right: 30%;
}


#footer2_1
{

	font-family: Calibri Light;
	position: absolute;
	right: 45%;
	margin-top: 15%;
	
	top: 140%;
	

}


#footer2_2
{

	font-family: Calibri Light;
	position: absolute;
	right: 25%;
	margin-top: 13%;
	
	top: 140%;
	


}
